<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CSSBattle Minifier</title>

	<!-- minifier alg fetcher and copy to clipboard scripts -->
	<script>
		const submitText = _ => {
			const inputText = document.getElementById("inputText").value;

			fetch("/format_text", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({text: inputText})
			})
			.then(res => res.json())
			.then(data => {
				document.getElementById("formattedText").innerText = data.formattedText;
			})
			.catch(err => console.log(err))
		}

		const copyToClipboard = _ => {
			const formattedText = document.getElementById("formattedText").innerText;
			navigator.clipboard.writeText(formattedText)
			.then(_ => {
				alert("Copied to clipboard");
			})
			.catch(err => console.log(err))
		};
	</script>
	<script src="https://kit.fontawesome.com/f0abf0898e.js" crossorigin="anonymous"></script>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;">
	<div style="display: flex; justify-content: center; flex-direction: column; padding: 0 100px;">
		<h1 style="text-align: center;">CSSBattle Minifier</h1>
		<textarea style="resize: vertical;" rows="15" cols="50" id="inputText" placeholder="Enter your CSSBattle code here"></textarea>
		<br>
		<!-- minify code button -->
		<div style="display: flex; justify-content: center;">
			<button onclick="submitText()">Minify</button>
		</div>

		<br><br><br>
		<h2 style="text-align: center;">Minified CSSBattle code:</h2>
		<p id="formattedText"></p> <!-- minified code -->

		<!-- copy to clipboard button -->
		 <div style="display: flex; justify-content: center;">
			<button id="copyToClipboard" style="" onclick="copyToClipboard()">Copy to clipboard</button>
		</div>
	</div>

	<!-- footer -->
	<div class="align-center" style="background: #eee; width: 100%; height: 125px; position: fixed; bottom: 0; flex-direction: column;">
		<p>© Arnav Jagetia </p>
		<div class="align-center" style="flex-direction: row; margin-bottom: 20px;">
			<a href="https://github.com/arnav-exe/"><i class="fa-brands fa-github fa-2xl"></i></a>
			<a href="https://linkedin.com/in/arnav-jagetia/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
			<a href="https://arnavjagetia.com/"><i class="fa-solid fa-code fa-2xl"></i></a>
		</div>
		
	</div>
</body>
</html>



<style>
	a {
		color: #000;
		margin: 0 10px;
	}

	a:hover {
		color: #333;
	}

	.align-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
